# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os
load_dotenv()

True

In [2]:
# Create a connection to the database
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
engine = create_engine(f"postgresql://{user}:{password}@localhost:5432/fraud_db")

In [3]:
# Get some data with Raw SQL
query = """
    SELECT
        t.date,
        t.amount,
        ch.id as customer_id,
        ch.name as customer_name,
        m.name as merchant_name,
        mc.name as merchant_type
    FROM transaction t
    INNER JOIN merchant m on m.id = t.id_merchant
    INNER JOIN merchant_category mc on mc.id = m.id_merchant_category
    INNER JOIN credit_card cc on cc.card = t.card
    INNER JOIN card_holder ch on ch.id = cc.cardholder_id
    ORDER BY DATE ASC
"""
fraud_df = pd.read_sql(query, engine)
fraud_df.set_index('date', inplace=True)

fraud_df.head()

,amount,customer_id,customer_name,merchant_name,merchant_type
date,,,,,
2018-01-01 21:35:10,6.22,13,John Martin,Dominguez PLC,food truck
2018-01-01 21:43:12,3.83,13,John Martin,Patton-Rivera,bar
2018-01-01 22:41:21,9.61,10,Matthew Gutierrez,Day-Murray,food truck
2018-01-01 23:13:30,19.03,4,Danielle Green,Miller-Blevins,pub
2018-01-01 23:15:10,2.95,18,Malik Carlson,"Cline, Myers and Strong",restaurant

In [4]:
# Write function that locates outliers using standard deviation
std_dev = fraud_df.amount.std()

# Filter amounts that are +/- 3 times the standard deviation
outliers = fraud_df[(fraud_df.amount >= 3 * std_dev) | (fraud_df.amount <= -3 * std_dev)]
outliers.shape

(78, 5)

In [5]:
# Find anomalous transactions for 3 random card holders

# Cast series to a set for distinct values and then back to list
customer_ids = list(set(outliers.customer_id))

for i in range(3):
    random_id = random.choice(customer_ids)
    # remove ids already used
    customer_ids.remove(random_id)
    print(f'\n\n------------------- Random Card Holder {i+1} -----------------\n\n')
    print(outliers[outliers['customer_id'] == random_id])

------------------- Random Card Holder 1 -----------------


                     amount  customer_id  customer_name  \
date
2018-02-19 22:48:25  1839.0           18  Malik Carlson
2018-04-03 03:23:37  1077.0           18  Malik Carlson
2018-06-03 20:02:28  1814.0           18  Malik Carlson
2018-07-18 09:19:08   974.0           18  Malik Carlson
2018-09-10 22:49:41  1176.0           18  Malik Carlson
2018-11-17 05:30:43  1769.0           18  Malik Carlson
2018-12-13 12:09:58  1154.0           18  Malik Carlson

                                 merchant_name merchant_type
date
2018-02-19 22:48:25               Baxter-Smith    restaurant
2018-04-03 03:23:37          Townsend-Anderson    restaurant
2018-06-03 20:02:28  Boone, Davis and Townsend           pub
2018-07-18 09:19:08          Santos-Fitzgerald           pub
2018-09-10 22:49:41                Lopez-Kelly    restaurant
2018-11-17 05:30:43              Romero-Jordan    food truck
2018-12-13 12:09:58             Russell-Thomas    restaurant


------------------- Random Card Holder 2 -----------------


                     amount  customer_id  customer_name  \
date
2018-01-22 08:07:03  1131.0           16  Crystal Clark
2018-02-17 01:27:19  1430.0           16  Crystal Clark
2018-03-05 08:26:08  1617.0           16  Crystal Clark
2018-05-29 02:55:08  1203.0           16  Crystal Clark
2018-06-17 15:59:45  1103.0           16  Crystal Clark
2018-07-26 23:02:51  1803.0           16  Crystal Clark
2018-11-13 17:07:25  1911.0           16  Crystal Clark
2018-12-03 02:38:52  1014.0           16  Crystal Clark
2018-12-24 15:55:06  1634.0           16  Crystal Clark

                                     merchant_name merchant_type
date
2018-01-22 08:07:03        Walker, Deleon and Wolf    restaurant
2018-02-17 01:27:19                     Greene LLC    restaurant
2018-03-05 08:26:08                 Mccarty-Thomas           bar
2018-05-29 02:55:08  Cooper, Carpenter and Jackson    food truck
2018-06-17 15:59:45  Wilson, Roberts and Davenport    food truck
2018-07-26 23:02:51                   Ramirez-Carr   coffee shop
2018-11-13 17:07:25       Brown, Ballard and Glass    restaurant
2018-12-03 02:38:52        Cline, Myers and Strong    restaurant
2018-12-24 15:55:06                    Gomez-Kelly           pub


------------------- Random Card Holder 3 -----------------


                     amount  customer_id    customer_name  \
date
2018-01-30 18:31:00  1177.0           25  Nancy Contreras
2018-03-06 07:18:09  1334.0           25  Nancy Contreras
2018-04-08 06:03:50  1063.0           25  Nancy Contreras
2018-05-13 06:31:20  1046.0           25  Nancy Contreras
2018-06-04 03:46:15  1162.0           25  Nancy Contreras
2018-06-06 21:50:17   749.0           25  Nancy Contreras
2018-06-22 06:16:50  1813.0           25  Nancy Contreras
2018-08-16 10:01:00  1001.0           25  Nancy Contreras
2018-12-18 13:33:37  1074.0           25  Nancy Contreras

                                     merchant_name merchant_type
date
2018-01-30 18:31:00        Cline, Myers and Strong    restaurant
2018-03-06 07:18:09                Griffin-Woodard           bar
2018-04-08 06:03:50     Bryant, Thomas and Collins           pub
2018-05-13 06:31:20                      Baker Inc    food truck
2018-06-04 03:46:15                 Johnson-Fuller           pub
2018-06-06 21:50:17             Hamilton-Mcfarland    restaurant
2018-06-22 06:16:50     Cox, Montgomery and Morgan           bar
2018-08-16 10:01:00         Vega, Jones and Castro    food truck
2018-12-18 13:33:37  Maxwell, Tapia and Villanueva   coffee shop

## Identifying Outliers Using Interquartile Range

In [10]:
# Write a function that locates outliers using interquartile range
Q3 = np.quantile(fraud_df.amount, 0.75)
Q1 = np.quantile(fraud_df.amount, 0.25)
IQR = Q3 - Q1
lower_range = Q1 - 3 * IQR
upper_range = Q3 + 3 * IQR

outliers = fraud_df[(fraud_df.amount < lower_range) | (fraud_df.amount> upper_range)]
outliers.head()

(110, 5)