In [38]:
import math
import pandas as pd
import random

int_list = []

for i in range(252*4):
    int_list.append(random.randint(-1000,1000))

data =  {
    'Date': pd.date_range('2020-01-01', periods=252*4),
    'Price': int_list
}

In [25]:

df = pd.DataFrame(data)

df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df["Rolling_4_std"] = df.rolling(window=2).std()
display(df.head())
display(df.tail())

            Price  Rolling_4_std
Date
2020-01-01    144            NaN
2020-01-02   -361     357.088924
2020-01-03   -697     237.587878
2020-01-04    693     982.878426
2020-01-05    146     386.787409

            Price  Rolling_4_std
Date
2022-09-30   -348     253.851334
2022-10-01   -302      32.526912
2022-10-02    854     817.415439
2022-10-03   -648    1062.074385
2022-10-04    155     567.806745

In [29]:
import math

class PyFinCalculator:
    
    def __init__(self, numbers):
        self.numbers = numbers
    
    @classmethod
    def mean(cls, numbers: list[int]) -> float:
        return sum(numbers) / len(numbers)
    
    @classmethod
    def rolling_mean(cls, numbers: list[int], win: int) -> list[float]:
        rolling_means = []

        for i in range(len(numbers)):
            if i < win - 1:
                rolling_means.append(None)
            else:
                window_list = numbers[i - win + 1:i + 1]
                mean = sum(window_list) / win
                rolling_means.append(mean)

        return rolling_means

    @classmethod
    def standardDeviation(cls, numbers: list[int]) -> float:
        m = cls.mean(numbers)
        variance = sum((n - m) ** 2 for n in numbers) / len(numbers)
        return math.sqrt(variance)
    
    @classmethod
    def rolling_standardDeviation(cls, numbers: list[int], win: int) -> list[float]:
        manual_rolling_std = []

        for i in range(len(numbers)):
            if i < win - 1:
                manual_rolling_std.append(math.nan)
            else:
                window_list = numbers[i - win + 1:i + 1]
                std_dev = cls.standardDeviation(window_list)
                manual_rolling_std.append(std_dev)

        return manual_rolling_std

In [58]:
import random
from tabulate import tabulate

class DataFrame:
    
    def __init__(self, data):
        self.data = data
    
    def head(self, n=5):
        header = list(self.data.keys())
        rows = list(self.data[key][:n] for key in header)
        return tabulate(rows, headers=header)
    
    def tail(self, n=5):
        return {key: value[-n:] for key, value in self.data.items()}
    
    def sample(self, n=1):
        keys = random.sample(list(self.data.keys()), n)
        return {key: self.data[key] for key in keys}

In [59]:
df = DataFrame(data)

df.head(2)

'Date                 Price\n-------------------  -------------------\n2020-01-01 00:00:00  2020-01-02 00:00:00\n94                   519'